/* style global */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333333;
    line-height: 1.6;
}

a{
    text-decoration: none; color: inherit;
}

/* navbar */

header{
    background-color: #A3B18A;
    box-shadow: 0 2px 5px rgba(0,0,0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
nav .logo img{
    height: 60px;
    width: 60px;
    border-radius: 80%; /* Rendre le logo ronde  */
}
nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a{
    color: #f5f5dc;
    font-weight: 600;
    transition: color 0.3s;
}
nav ul li a.active,
 nav ul li a:hover{
    color: #FADCD9;
}

/* section hero */
.hero{
    background: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, .5)), url('../images/hero.jpg') center/cover no-repeat;
    height: 80vh;
    justify-content: center;
    align-items: center;
    color: #f5f5dc;
    text-align: center;
    display: flex;
}
hero-text{
    max-width: 800px;
    padding: 0 20px;
}

.hero h1{
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}

.hero p{
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.btn{
    background-color: #A3B18A;
    color: #f5f5dc;
    padding: 0.7rem 1.5rem;
    border-radius: 50px;
    font-weight: 600;
    transition: all 0.3s ease;;
    display: inline-block;
}

 .btn:hover{
    background-color: #f5f5dc;
    color: #FADCD9;
    transform: scale(1.05);
}

.btn-outline{
    background-color: #A3B18A;
    color: #f5f5dc;
}
.btn-outline:hover{
    background-color: #A3B18A;
    color: #f5f5dc;
}
/* Fin section hero */

/* section */
section{
    padding: 60px 20px;
    text-align: center;
}

h2{
    color: #A3B18A;
    margin-bottom: 1rem;
}
/* Fin section */


/* A propos */
.apropos img{
    width: 100%;
    max-width: 600px;
    border-radius: 12px;
    margin-top: 2rem;
}




/* section services */
.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 2rem;
}

.services-item {
    background-color: #f5f5f5;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    padding: 1rem;
    transition: transform 0.3s, box-shadow 0.3s;
}

.services-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
}

.services-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 10px;
}

.services-item h3 {
    color: #A3B18A;
    margin: 10px 0;
}

.services-item p {
    color: #333333;
}




/* section realisations */

.realisations-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 2rem;
}

.realisations-item {
    background-color: #f5f5dc;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    padding: 1rem;
    transition: transform 0.3s, box-shadow 0.3s;
}

.realisations-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
}

.realisations-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 10px;
}

.realisations-item h3 {
    color: #A3B18A;
    margin: 10px 0;
}

.realisations-item p {
    color: #333333;
}


/* section contact */
.contacts{
    background-color: #f5f5f5;
    padding: 60px 20px;
    text-align: center;
}

.contacts h2{
    color: #A3B18A;
    margin-bottom: 1rem;
}

.contacts p{
    font-size: 1.1rem;
    color: #333333;
    max-width: 800px;
    margin: 0 auto 2rem auto;
    line-height: 1.6;
}

.contacts form{
    max-width: 600px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.contacts form input,
.contacts form textarea{
    padding: 10px;
    border: 1px solid #f5f5dc;
    border-radius: 8px;
    font-size: 1rem;
}
.contacts button.btn{
    align-self: flex-start;
}
.btn-outline{
    background-color: #A3B18A;
    color: #f5f5dc;
    border-radius: 12px;
}

/* section map */

.map iframe{
    width: 100%;
    max-width: 600px;
    height: 450px;
    border: 0;
    border-radius: 12px;
    margin-top: 2rem;
}




/* Footer */
footer{
    background-color: #A3B18A;
    color: #FADCD9;
    font-size: 0.9rem;
    text-align: center;
    padding: 15px 0;
}

footer a {
  color: #f5f5dc;
  margin: 0 10px;
  font-size: 1.4rem;
  transition: color 0.3s;
}

footer a:hover {
  color: #FADCD9;
}
.w-md-50{
    width: 50%;
}

/* Responsive */
@media (max-width: 480px){
    nav ul{
        flex-direction: column;
        align-items: flex-start;
    }
    nav ul li{
        margin-left: 0;
        margin-bottom: 10px;
    }
    .hero h1{
        font-size: 2rem;
    }
    .hero p{
        font-size: 1rem;
    }
}
/* Fin style global */